
.nav{
    float: right;
    margin: 5px 20px 0 0;
    .menu{
        font-size: 20px; 
        margin: 10px -60px;
        position: absolute;
        color: white;
    }
    i{
        font-size: 30px;
        margin-top:10px; 
        color: white;
    }
    .anburgesa{
        background-color: rgb(24, 168, 147);
    }
    #menu-puppy-love{
        margin-top:100px;
        li a{
            color: white;
            font-weight: normal;
            font-size: 25px;
        }
    }
}
.side-nav{
    width:200px  !important;           

}
header{
    background: linear-gradient( to left,rgba(28, 29, 28, 0.4), rgba(46, 49, 49,0.4), rgba(46, 49, 49, 0.4), rgba(49,49,49, 0.4)), url(../img/banner.jpg);
    background-position: center left;
    background-size: cover;
    height: 100vh;
}
#puppy-love{
    color: white;
    font-size: 2em;
    margin-top: 10%;
    margin-left: 30%;
    #titulo-puppy-love{
    font-weight: bold;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.btn{
    background-color: red;
}
i{
    font-size: 45px;
    // margin-top:10px; 
    color: white;
}
}
@media (max-width: 700px){
    header{
        height: 90vh;
        background: linear-gradient( to left,rgba(28, 29, 28, 0.4), rgba(46, 49, 49,0.4), rgba(46, 49, 49, 0.4), rgba(49,49,49, 0.4)), url(../img/pic05.jpg);
        background-position: center left;
        background-size: cover;
    }
    #puppy-love{
        margin-left:0;
    }
}
