@import "parciales/_variables.scss";
@import 'parciales/_menu.scss';
@import 'parciales/_seccion2.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans|Saira+Extra+Condensed');
*{
// outline: 2px solid red;
margin:0px;
padding:0px;
}
#dog{
	background-color:$color-dog;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	 overflow:hidden;

		.dog-magna{
					width: 100%;
					height: 40vh;
					background-image :url("../img/pic01.jpg");
					background-repeat: no-repeat;
				    background-size: cover;
				    background-position: center top;			  
		  }
		.dog-tortol{
				width: 100%;
				height: 40vh;
				background-image :url("../img/pic02.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;			  
		}
		.dog-augue{
				width: 100%;
				height: 40vh;
				background-image :url("../img/pic03.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;			  
		}

}
		#container{
		margin:0;
		padding:0;
	}
	#doned{
	  font-family: 'Open Sans', sans-serif;
      background-color:$color-donad;
      overflow:hidden;
      color:#fff;
      .box-center{
      	background-color:#45487f;
      	
      }
      	// #line{
       //   background:black;
       //  }


      	h1{
			font-size:2em;
		}
		p{
		font-size:1.5em;	
		}
	}


@media (max-width:1100px){
	#dog{
		margin:0px;
		padding:0px;
		h1{
			font-size:20px;
		}
		p{
		font-size:14px;	
		}
		// .box-center{
  //       margin-left:2%;
		// }
	}

	#doned{
		margin:0px;
		padding:0px;
		h1{
			font-size:15px;
		}
		p{
		font-size:12px;	
		}
		// .box-center{
  //       margin-left:2%;
		// }
	}
}